input[type=text] {
    border: 2px solid blue;
    border-radius: 4px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
#output{
    width: 50%;
    margin: auto;
    text-align: left;
}
.output_title{
    background-color: #eeeeee;
    width: 100%;
    margin: auto;
    text-align: left;
}
.output_box{
    background-color: #edf4ff;
    width: 100%;
    margin: auto;
}